/* CSS Examples - Match reference images (all requirements) */

/* 1. Background color closely matches - light blue #C1DDEC */
body {
	background-color: #C1DDEC;
	font-family: Georgia, "Times New Roman", serif;
}

/* 2. Header sizes closely match | 3. Top header aligned correctly (centered) */
h1 {
	font-size: 2em;
	text-align: center;
	font-weight: bold;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}

h3 {
	font-size: 1.17em;
	font-weight: bold;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}

/* 4. 2nd paragraph: light green box, width, margin, padding, black border, line-height */
#paragraph2 {
	background-color: #fff;
	width: 65%;
	margin: 1.5em 0;
	padding: 1.25em;
	border: 1px solid #90EE90;
	line-height: 1.5;
	color: #000;
}

/* 5. 4th and 5th paragraphs: dark blue background, white text */
.blue {
	background-color: #000080;
	color: #fff;
	padding: 0.5em 0;
}

/* 6. Link colors - list item links: standard blue #0000FF, underlined */
ol a:link {
	color: #0000FF;
	text-decoration: underline;
}

ol a:visited {
	color: #660099;
	text-decoration: underline;
}

/* 7. W3schools link: different color than list links - reddish-brown #960E0E */
a[href*="w3schools.com"]:link {
	color: #960E0E;
	text-decoration: underline;
}

a[href*="w3schools.com"]:visited {
	color: #960E0E;
	text-decoration: underline;
}

/* Paragraph containing W3schools link */
.w3s-paragraph {
	margin: 1em 0;
	line-height: 1.5;
}

/* 8. List items use two digits (01, 02, 03...) */
ol {
	list-style-type: decimal-leading-zero;
}

/* 9. Table header and cells different backgrounds | 10. Border on all cells, overlapping */
table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid #000;
	padding: 0.4em 0.6em;
}

th {
	background-color: #D3D3D3;
	color: #000;
	font-weight: bold;
}

td {
	background-color: #FFFFFF;
	color: #000;
}
