/* CSS Examples - Assignment styling (match reference image) */

/* Light blue background */
body {
	background-color: #b8d4e8;
	font-family: Georgia, "Times New Roman", serif;
}

/* Header sizes - top header left-aligned */
h1 {
	font-size: 2em;
	text-align: left;
	font-weight: bold;
	color: #000;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	color: #000;
}

h3 {
	font-size: 1.17em;
	font-weight: bold;
	color: #000;
}

/* 2nd paragraph: width, margin, padding, border, line-height */
#paragraph2 {
	width: 28em;
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #666;
	line-height: 1.6;
}

/* 4th and 5th paragraphs - blue text */
.blue {
	color: #00008b;
}

/* List item links - medium blue, underlined */
ol a:link {
	color: #0066cc;
	text-decoration: underline;
}

ol a:visited {
	color: #660099;
	text-decoration: underline;
}

/* W3schools link - reddish-brown, different from list links */
a[href*="w3schools.com"]:link {
	color: #a52a2a;
	text-decoration: underline;
}

a[href*="w3schools.com"]:visited {
	color: #8b4513;
	text-decoration: underline;
}

/* Paragraph containing W3schools link - constrained width, margin, padding, border */
.w3s-paragraph {
	width: 28em;
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #999;
	line-height: 1.5;
}

/* List items use two digits (01, 02, 03...) */
ol {
	list-style-type: decimal-leading-zero;
}

/* Table: header light grey, cells white, border on all cells, overlapping */
table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid #333;
	padding: 0.4em 0.6em;
}

th {
	background-color: #d3d3d3;
	color: #000;
	font-weight: bold;
}

td {
	background-color: #fff;
	color: #000;
}
